* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color-principal: #184E77;
    --color-secundario: #35856e;
    --color-textos: rgba(0, 0, 0, 0.9);
    --light-white: rgb(235, 235, 235);
    --grey_light-white: rgb(225, 225, 225);
}

html {
    scroll-behavior: smooth;
}
  
body {
    background-color: var(--light-white);
    width: 100% !important;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.oscurecerOff {
    display: none;
}

.oscurecer {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 98;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* ENCABEZADO */

header {
    background-color: var(--light-white);
    display: flex;
}

#logo {
    font-size: 2.5em;
    padding: 0rem 0.5rem;
}
  
#logo:hover {
    color: var(--color-principal);
}
  
.logo-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav {
    background-color: var(--grey_light-white);
    position: absolute;
    left: -100vw;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom-right-radius: 20px;
}

nav::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 5px;
    background-color: rgb(45, 45, 45);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

nav::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 95%;
    background-color: rgb(45, 45, 45);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 2.2rem 0 !important;
}

nav ul::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 95%;
    background-color: rgb(45, 45, 45);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

nav ul::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 5px;
    background-color: rgb(45, 45, 45);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

nav ul li {
    padding: 1.2rem 3rem;
}

.navElementActive1 {
    -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
	animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

.navElementActive2 {
    -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
	animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

.navElementActive3 {
    -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
	animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

.navElementActive4 {
    -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
	animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

@-webkit-keyframes text-pop-up-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

.stopAnimation:hover {
    -webkit-animation: none;
    animation: none;
}

nav ul li a {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8) !important;
    text-decoration: none;
}

.telefono-contacto {
    margin: 1rem 0;
    color: var(--color-principal);
    font-size: 1.2em;
    text-decoration: none;
}

/* ANIMACION MENU */

.menu__active {
    z-index: 99;
	-webkit-animation: slide-right 0.3s steps(30, end) 0.2s both;
	animation: slide-right 0.3s steps(30, end) 0.2s both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
}

}
  
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.bars__menu {
    display: inline-block;
    z-index: 100;
    margin: auto 1rem auto auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px; 
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

/* CONTENIDO PRINCIPAL */

main {
    background: rgb(38,38,40);
    background: linear-gradient(256deg, rgba(38,38,40,1) 0%, rgba(157,146,146,1) 50%, rgba(217,206,206,1) 100%);
    background-size: 300% 100%;
    border-bottom-right-radius: 3rem;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sub-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 70vh;
}

h2 {
    font-size: 1.8em;
    margin: 3rem auto;
    width: 87vw;
    padding: 1rem 0;
    border: black 3px solid;
    border-radius: 1px;
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
}

h2:hover {
    background-color: rgba(24, 78, 119, 0.1);
}

h4 {
    color: rgba(58, 54, 54, 0.8);
    font-size: 1.5em;
    margin-bottom: 2rem;
    -webkit-animation: wobble-hor-bottom 0.8s 2s both;
    animation: wobble-hor-bottom 0.8s 2s both;
}

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}


/* PIE DE PAGINA */

footer a {
    position: fixed;
    z-index: 9;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: rgb(37, 211, 102);
    border-radius: 50%;
}

footer a img {
    width: 4rem;
    height: 4rem;
}

@media (min-width: 769px) {
    .bars__menu {
        display: none;
    }
}