* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color-principal: #184E77;
    --color-secundario: #35856e;
    --color-textos: rgba(0, 0, 0, 0.9);
    --light-white: rgb(235, 235, 235);
    --grey_light-white: rgb(225, 225, 225);
}

html {
    scroll-behavior: smooth;
}
  
body {
    background-color: var(--light-white);
    width: 100% !important;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

a:active {
    -webkit-tap-highlight-color: transparent;
}

.oscurecerOff {
    display: none;
}

.oscurecer {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 98;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* ENCABEZADO */

header {
    background-color: var(--light-white);
    display: flex;
}

#logo {
    font-size: 2.5em;
    padding: 0rem 0.5rem;
}
  
#logo:hover {
    color: var(--color-principal);
}
  
.logo-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav {
    background-color: var(--grey_light-white);
    position: absolute;
    left: -100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom-right-radius: 20px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 2.2rem 0 !important;
}

nav ul li {
    padding: 1.2rem 3rem;
}

.navElementActive1 {
    -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.navElementActive2 {
    -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.navElementActive3 {
    -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.navElementActive4 {
    -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@-webkit-keyframes text-pop-up-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

.stopAnimation:hover {
    -webkit-animation: none;
    animation: none;
}

nav ul li a {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8) !important;
    text-decoration: none;
}

.telefono-contacto-menu {
    margin: 1rem 0 3rem 0;
    color: var(--color-principal);
    font-size: 1.2em;
    text-decoration: none;
}

/* ANIMACION MENU */

.menu__active {
    z-index: 99;
	-webkit-animation: slide-right 0.3s steps(30, end) 0.2s both;
	animation: slide-right 0.3s steps(30, end) 0.2s both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
}

}
  
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.bars__menu {
    display: inline-block;
    z-index: 100;
    margin: auto 1rem auto auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px; 
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

/* CONTENIDO PRINCIPAL */

.main {
    background: rgb(34, 81, 117);
    background: linear-gradient(256deg, rgba(34, 81, 117,1) 0%, rgb(60, 93, 116) 50%, rgb(120, 149, 165) 100%);
    background-size: 300% 100%;
    border-bottom-right-radius: 3rem;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sub-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

.beyjotaLogo {
    margin: 1.5rem 1rem 1rem 1rem;
    width: 70vw;
    height: 17vh;
}

.lema {
    color: rgb(27, 26, 26);
    font-size: 1.625em;
    margin-bottom: 2rem;
    -webkit-animation: wobble-hor-bottom 0.8s 3s both;
    animation: wobble-hor-bottom 0.8s 3s both;
    margin: 1rem;
}

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.l-and-p {
    font-size: 1.8em;
    margin: 2rem auto;
    width: 87vw;
    padding: 1rem 0;
    border: black 3px solid;
    border-radius: 1px;
    -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
}


/* SOBRE NOSOTROS SECCIÓN */

#sobreNosotros {
    background: rgb(117, 117, 136);
    background: linear-gradient(256deg, rgba(117, 117, 136, 1) 0%, rgba(194, 179, 179, 1) 50%, rgb(228, 220, 220) 100%);
    background-size: 300% 100%;
    animation: gradient 10s ease infinite;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    margin: 2rem 0;
    padding: 2rem;
}

.preguntayrespuesta {
    border: black 3px solid;
    margin: 1.5rem 1rem 1.5rem 0;
    border-radius: 8px;
} 

.pregunta {
    font-size: 1.625em;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 1rem 0 1rem 0.5rem;
    border-radius: 8px;
    text-align: center;
}

.pregunta:active {
    background-color: transparent;
}

.respuesta {
    font-size: 1.375em;
    margin: 1rem 1.25rem;
    display: none;
}

.activedisplayblock1 {
    display: block;
    -webkit-animation: scale-up-ver-top 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
	animation: scale-up-ver-top 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
}

.activedisplayblock2 {
    display: block;
    -webkit-animation: scale-up-ver-top 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
	animation: scale-up-ver-top 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
}

.activedisplayblock3 {
    display: block;
    -webkit-animation: scale-up-ver-top 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
	animation: scale-up-ver-top 0.05s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
}

@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
  }

/* PRODUCTOS SECCIÓN */

.mainproductos {
    background: rgb(34, 81, 117);
    background: linear-gradient(256deg, rgba(117, 117, 136, 1) 0%, rgba(194, 179, 179, 1) 50%, rgb(228, 220, 220) 100%);
    background-size: 300% 100%;
    border-bottom-right-radius: 3rem;
    animation: gradient 8s ease infinite;
}

.derivarProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
}

.linkPaginasProductos {
    color: black;
    font-size: 1.3em;
    margin: 1.25rem auto;
    text-decoration: none;
    border-bottom: 2.5px black solid;
}

.linkPaginasProductos:hover {
    -webkit-animation: none;
    animation: none;
}

.div_productos-titulo {
    display: flex;
    justify-content: center;
}

.productos-titulo {
    margin: 1.5rem 0;
    font-size: 2em;
    text-transform: capitalize;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
  

.div-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.productos {
    width: 49vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0.50rem auto 0.25rem auto;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    background-color: grey;
}

.productos-768 {
    display: none;
}

.imagen {
    min-height: 70%;
    background-color: var(--light-white);
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenproducto {
    width: 100%;
    height: 100%;
}

.imagenproducto2 {
    width: 90%;
    height: 90%;
}

.imagenproducto3 {
    width: 110%;
    height: 110%;
}

.info {
    min-height: 30%;
    background-color: var(--light-white);
    border-top: 1px rgba(0, 0, 0, 0.3) solid;
    padding: 0.25rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.nombre-producto {
    font-size: 0.90em;
    text-transform: uppercase;
    margin: 0.25rem 0.25rem 0.5rem 0.25rem;
}

.div_precio {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.precio {
    margin: auto 0.25rem 0.25rem 0;
}

.div_pagina-selector {
    margin: 2.5rem 0;
}

.pagina-selector {
    min-width: 55vw;
    max-width: 60vw;
    border-radius: 5px;
    margin: 0 auto;
    border: 2px rgba(0, 0, 0, 0.3) solid;
    display: flex;
    justify-content: center;
}

.selector {
    font-size: 2.65em;
    color: black;
    margin: auto 0.25rem;
    text-decoration: none;
    padding: 0 0.25rem;
}

.selector:active {
    background-color: var(--grey_light-white);
    -webkit-tap-highlight-color: transparent;
}

.selector-activo {
    font-size: 3em;
    background-color: var(--grey_light-white);
    padding: 0 1.25rem;
    margin: 0 auto;
    border-radius: 5px;
}

/* PIE DE PAGINA */

footer {
    background-color: rgb(200, 200, 200);
    margin: 1rem 0 0 0;
    border-top-right-radius: 5rem;
}

.whatsapp-link {
    position: fixed;
    z-index: 9;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: rgb(37, 211, 102);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-img {
    width: 4rem;
    height: 4rem;
}
  
.logoFooter {
    font-size: 2.25em;
    padding: 1rem;
}
  
.pFooter {
    padding: 0 1rem;
    font-size: 1.5em;
}

.separador {
    margin: 1.5rem 0.5rem;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.divisor {
    width: 42.5vw;
    height: 0.4rem;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
}

.circulo {
    width: 0.8rem;
    height: 0.8rem;
    margin: auto;
    border-radius: 100%;
    background-color: rgb(30, 30, 30);
}
  
.contacto {
    display: flex;
    flex-direction: row;
}
  
.contacto__div {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.p-contacto {
    font-size: 2em;
}

.telefono-contacto {
    color: var(--color-principal);
    margin: 1.5rem 0 1rem 0;
    font-size: 1.3em;
    text-decoration: none;
}

.mail {
    font-size: 1.3em;
    margin: 1rem 0 1rem 0;
}

.mail-link {
    text-decoration: none;
    color: var(--color-principal);
}

.facebook-link {
    font-size: 1.3em;
    margin: 1rem 0 1rem 0;
    text-decoration: none;
    color: var(--color-principal);
}

.creditos {
    background-color: var(--grey_light-white);
}

.creditos-p {
    font-size: 1.3em;
    padding: 1.5rem 1rem;
    max-width: 80vw;
}

.creditos-link {
    color: black;
    text-decoration: none;
}